/* Base Definition */
.a-split {
  display: flex;
  --a-split-bar-shadow: #d5d5d5;
  --a-split-bar-shadow-disable: #d5d5d5;
}

.a-split.dragging .a-split-pane {
  position: relative;
}

.a-split.dragging .a-split-pane::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.a-split>.a-split-pane {
  transform: none;
}

.a-split.a-split-horizontal,
.a-split.a-split-vertical {
  border-width: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: none;
  width: 100%;
  height: 100%;
}

.a-split.a-split-horizontal {
  flex-direction: row;
}

.a-split.a-split-vertical {
  flex-direction: column;
}

.a-split.a-split-horizontal .a-split-control-pane,
.a-split.a-split-vertical .a-split-control-pane {
  flex: 1 1 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: normal;
}

.a-split.a-split-horizontal .a-split-control-pane.a-split-scrollable,
.a-split.a-split-vertical .a-split-control-pane.a-split-scrollable {
  overflow: auto;
}

.a-split.a-split-horizontal .a-split-control-pane.a-split-pane {
  flex-grow: 0;
  flex-shrink: 0;
}

.a-split.a-split-vertical .a-split-control-pane.a-split-pane {
  flex-grow: 0;
  flex-shrink: 0;
}

.a-split-hidden {
  flex-basis: 0 !important;
  overflow: hidden !important;
  transition: none !important;
}

.a-split-pane-fix.a-split-pane-helper-fix {
  flex: 1 0 !important
}